:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bgr-color: #ffffff;
  --primary-button-bgr-color: #f5f4fa;
  --link-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bgr-color);

  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

/* Видаляє маржин у заголовків, Видаляє маржин у абзаців */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* видаляє крапки */

.list-hidden {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* видаляє підкреслення під силками */

.link-hidden {
  text-decoration-line: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

svg {
  display: block;
}
/* page-header */

.page-header {
  border-bottom: 1px solid #ececec;
}

/* LOGO */

.logo {
  color: var(--accent-color);
  text-decoration-line: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

/* SITE NAV */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav > .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Позиціонування підкрслення в шапці */

.link {
  position: relative;
}

.underline-decor::after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

/* main-nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* links-contact */

.links-contact {
  display: flex;
  margin-left: auto;
}

.links-contact > .item + .item {
  margin-left: 30px;
}

.links-contact .contact {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
  display: inline-block;
}

.contact-icon:hover {
  fill: var(--accent-color);
}

/* Hero */

.title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

.title-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  min-width: 216px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: color, background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover {
  color: var(--secondary-text-color);
  background-color: #188ce8;
  border-color: var(--accent-color);
}

.hero-section {
  max-width: 1600px;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

/* hero-backdrop */

.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* hero-modal */

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* close-black button */

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  transition: color, background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--primary-bgr-color);
}

.button-close:hover {
  fill: var(--accent-color);
}

/* HERO-forms */

.user-data {
  padding: 40px;
}

.modal-caption {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 448px;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  margin-bottom: 10px;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-field:focus-within > .form-input {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:not(focus-within) > .form-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-visible {
  outline: 0;
}

.form-info {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-input {
  padding: 12px 42px;
  height: 40px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-picture {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.form-field:focus-within .form-picture {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:not(focus-within) .form-picture {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  padding: 12px 16px;

  resize: none;

  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field:focus-within > .form-textarea {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:not(focus-within) > .form-textarea {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus-visible {
  outline: 0;
}

.form-textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-stylization {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 425px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-text {
  width: 401px;

  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.check-container {
  position: relative;
  width: 16px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check {
  position: absolute;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-container {
  fill: currentColor;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-container .form-check {
  opacity: 1;
}

.link-agreement {
  margin-left: 4px;

  color: var(--accent-color);
}

.form-button {
  padding: 10px 52px;
  min-width: 200px;

  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: var(--primary-bgr-color);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  border-color: transparent;

  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  background-color: #188ce8;
}

/* features box */

.list-box .caption-text {
  font-size: 14px;
}

.list-box {
  display: flex;
  /* background-color: teal; */
}

.features-picture {
  fill: currentColor;
}

.list-box > .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  /* outline: 2px solid tomato; */
}

.list-box > .item:nth-child(4n) {
  margin-right: 0;
}

.features-box {
  width: 270px;
  height: 120px;
  background-color: var(--primary-button-bgr-color);

  margin-bottom: 30px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-text-color);
}

/* Чим ми займаємось */

.list-images {
  display: flex;
}

.list-images > .item-images {
  margin-right: 30px;
}

.list-images > .item-images:nth-child(3n) {
  margin-right: 0;
}

.images {
  display: block;
}

/* Позиціонування чим ми займаємось (у фото) */

.thumb-features {
  position: relative;

  margin: 0;
  padding: 0;
}

.thumb-background {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background-color: #2f303acc;
}

.thumb-caption {
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Team фон сеції/Фон контейнера для членів команди*/

.team {
  background-color: #f5f4fa;
}

.worker-list {
  display: flex;
}

.worker-list > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;

  background-color: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-list > .item:last-child {
  margin-right: 0;
}

.worker-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
  width: 100%;
}

/* Section-заголовки: "Наші особливості, Чим ми займаємось, Наша команда*/

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Подзаголовки 2 и 4 секції */

.caption {
  margin-bottom: 10px;
}

.secondary-caption {
  margin-bottom: 4px;
}

.list-hidden .caption {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* .list-hidden .caption:last-child {
  margin-right: 30;
} */

.list-hidden .caption-text {
  line-height: 1.71;
}

.worker-list .caption {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: capitalize;
}

.worker-list .caption-text {
  line-height: 1.19;
  text-align: center;

  margin-bottom: 16px;
}

/* Постійні клієнти */

.client {
  display: flex;

  gap: 30px;
}

.client-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: #afb1b8;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-box:hover,
.client-box:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-picture {
  fill: currentColor;
}

/* footer */

.address-links .address-place {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-links .contact {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.footer-section {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section .logo {
  display: block;
  margin-bottom: 20px;
}

.address-links > .address-items:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section > .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.subtitle-footer {
  color: var(--secondary-text-color);

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.link-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-attention {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  width: 44px;
  height: 44px;

  color: var(--link-color);

  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-attention:hover,
.socials-attention:focus {
  color: var(--primary-bgr-color);
  background-color: var(--accent-color);
}

.footer-attention {
  background-color: #ffffff1a;
  color: var(--primary-bgr-color);
}

.box-socials {
  width: 206px;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials li {
  width: 44px;
  height: 44px;

  text-decoration: none;
}

/* form-footer */

.subscribe {
  width: 570px;
}

.form-footer {
  display: flex;
}

.footer-email {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;

  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-footer:focus-within .footer-email {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer:not(focus-within) .footer-email {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email:focus-visible {
  outline: 0;
}

.footer-email::placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 10px 28px;

  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover {
  background-color: #188ce8;
}

/* Button для порфолио*/

.button {
  color: var(--title-text-color);
  background-repeat: var(--primary-button-bgr-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;

  transition: color, background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-main {
  padding: 6px 25px;
}

.button:hover,
.button:focus {
  color: var(--primary-bgr-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cursor {
  cursor: pointer;
}

/* section portfolio */

.list-benefits {
  display: flex;
  flex-flow: wrap;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.benefits-item:nth-child(3n) {
  margin-right: 0;
}

.benefits-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.image-fix {
  display: block;
}

.benefits-link {
  padding: 20px 24px;
}

.small-margin {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.small-margin > .button-item {
  margin-right: 8px;
}

.small-margin > .button-item:last-child {
  margin-right: 0;
}

.filter .caption {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}

/* Позиціонування силки портфоліо */

.thumb {
  position: relative;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.thumb-description {
  margin: 0;

  font-size: 18px;
  color: var(--secondary-text-color);
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 24px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-item > .link-hidden:hover .thumb-overlay {
  transform: translateY(0);
}

/* абзац портфоліо */
.list-text {
  color: var(--primary-text-color);
  line-height: 1.88;
}

/* 3 module  */

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}
