@mixin flexed ($gap, $jc:center, $ai:center, $fd:column) {
    display: flex;
    gap: $gap;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin font ($fw:700, $fs:14px, $lh, $ta:center){
    font-weight: $fw;
    font-size: $fs;
    line-height: calc($lh/$fs);
    text-align: $ta;
}